/*
* @Author: xuhao1994
* @Date:   2017-10-23 10:26:01
* @Last Modified by:   xuhao1994
* @Last Modified time: 2017-10-23 10:38:43
*/
.txtOfBar {
    background: #fff;
    height: 2rem;
    line-height: 2rem;
    box-sizing: border-box;
    overflow: hidden;
}
.txtOfBar>*:first-child {
    padding-left: 1rem;
    height: 2rem;
}
.txtOfBar>*:last-child {
    padding-right: 1rem;
    height: 2rem;
}
.border-top{
    border-top: 1px solid #eee;
}
.txtOfBarAuto {
    height: auto;
}
.txtOfBarAuto>*:last-child{
	width: 60%;
	height: auto;
	text-align: justify;
}
.txtOfBarAuto>*:last-child span {
    margin-right: 0.5rem;
}