.black{
	color: #000;
}
.blackbg{
	background-color: #000;
}
.gray1{
	color: #111;
}
.graybg1{
	background-color: #111;
}
.gray2{
	color: #222;
}
.graybg2{
	background-color: #222;
}
.gray3{
	color: #333;
}
.graybg3{
	background-color: #333;
}
.gray4{
	color: #444;
}
.graybg4{
	background-color: #444;
}
.gray5{
	color: #555;
}
.graybg5{
	background-color: #555;
}
.gray6{
	color: #666;
}
.graybg6{
	background-color: #666;
}
.gray7{
	color: #777;
}
.graybg7{
	background-color: #777;
}
.gray8{
	color: #888;
}
.graybg8{
	background-color: #888;
}
.gray9{
	color: #999;
}
.graybg9{
	background-color: #999;
}
.graya{
	color: #aaa;
}
.graybga{
	background-color: #aaa;
}
.grayb{
	color: #bbb;
}
.graybgb{
	background-color: #bbb;
}
.grayc{
	color: #ccc;
}
.graybgc{
	background-color: #ccc;
}
.grayd{
	color: #ddd;
}
.graybgd{
	background-color: #ddd;
}
.graye{
	color: #eee;
}
.graybge{
	background-color: #eee;
}
.white{
	color: #fff;
}
.whitebg{
	background-color: #fff;
}