/*
* @Author: Administrtor
* @Date:   2017-10-22 22:59:37
* @Last Modified by:   xuhao1994
* @Last Modified time: 2017-10-23 09:15:17
*/
.CardInfo.clearfix>div:first-child {
	width: 25%;
    overflow: hidden;
    box-sizing: border-box;
    
}
.fl.cardImg>img {
    display: block;
    width: 70%;
    margin: 0.5rem auto 0 auto;
}
.CardInfo.clearfix {
	height: 4.5rem;
    background-color: #fff;
}
.CardInfo.clearfix>div:nth-child(2) {
    width: 65%;
    height: 100%;
}
.CardInfo.clearfix>div:nth-child(2)>p {
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 1rem;
}
.clearfix.fixButtonArea {
    position: fixed;
    width: 100%;
    height: 3rem;
    bottom: 0;
    left: 0;
    background-color: #fff;
}
.clearfix.fixButtonArea>div:last-child {
    width: 30%;
    height: 100%;
    line-height: 3rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #fff;
}
.clearfix.fixButtonArea>div:first-child{
	width: 20%;
    height: 100%;
    line-height: 3rem;
    text-align: center;
}
.clearfix.fixButtonArea>div:nth-child(2){
	width: 50%;
    height: 100%;
    line-height: 3rem;
    text-align: right;
}
.txtOfBar {
    background: #fff;
    height: 2rem;
    line-height: 2rem;
    box-sizing: border-box;
    overflow: hidden;
}
.txtOfBar>*:first-child {
    padding-left: 1rem;
    height: 2rem;
}
.txtOfBar>*:last-child {
    padding-right: 1rem;
    height: 2rem;
}
.CardPriceInfo>*:last-child>* {
    height: 50%;
    display: block;
    line-height: 1rem;
}
.border-top{
    border-top: 1px solid #eee;
}
.margin-top{
    margin-top: 0.5rem;
}
.CardInput{
    height: 2rem;
    background: #fff;
    line-height: 2rem;
    padding-left: 1rem;
}
.CardInput>input{
    border: none;
    outline: none;
    color: #999;
    width: 80%;
}
.fixButtonGoPay {
    color: #fff;
    text-align: center;
    border-radius: 0.2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    position: fixed;
    width: 92%;
    bottom: 2rem;
    left: 4%;
}